= stylesheet_link_tag :product_storage_relation, plugin: :arm_med_products
= javascript_include_tag 'jquery-ui-timepicker-addon', plugin: :arm_common
= javascript_include_tag 'jquery-ui-timepicker-addon-ru', plugin: :arm_common
= stylesheet_link_tag 'jquery-ui-timepicker-addon', plugin: :arm_common

%h3.title
  = l('product_depreciation.add')

= render partial: 'cancel_one_form'