.one-product-depreciation
  .product-depreciation-header
    = f.input :time, as: :date_with_calendar
  .product-depreciation-line
    .depreciation-from
      = f.input :product_storage_from, input_html: { :class => 'select2 non-select2-search select2_updated_product_field' }
  .product-depreciation_line
    .product
      = f.input :product, input_html: { value: params[:id] }
    .maintainer
      = f.input :maintainer, input_html: { :class => 'select2 select2_updated_product_field', value: User.current }
    .count
      = f.input :count, :input_html => { :size => 10 }
  .movement_note
    = f.input :note, :input_html => { :class => 'autogrow', :rows => 2, :cols => 69 }
  = link_to_remove_association l('product_storage_relation.link_to_remove'), f