- @depreciation = ProductDepreciation.new
- @depreciation.product_storage_relations.build

#form-for-product-depreciation
  %h3.title
    = l('product_depreciation.new')
  = semantic_form_for @depreciation do |f|
    = f.semantic_fields_for :product_storage_relations do |rel|
      = render 'product_depreciations/product_storage_relation_fields', :f => rel
    = f.submit l('product_depreciation.save'), id: 'product-depreciation-submit'
