= javascript_include_tag 'select2.min.js', plugin: :arm_common
= javascript_include_tag :select2_locale_ru, plugin: :arm_common
= javascript_include_tag :cocoon, :plugin => :arm_common
= stylesheet_link_tag :select2, plugin: :arm_common
= stylesheet_link_tag 'product_movement', plugin: :arm_med_products

#form_for_product_depreciation
  = semantic_form_for @depreciation do |f|
    = f.semantic_fields_for :product_storage_relations do |rel|
      = render 'product_storage_relation_fields', :f => rel
    = f.submit l('product_depreciation.save'), id: 'form_submit'