= javascript_include_tag :product_depreciation, plugin: :arm_med_products

.nested-fields.one-product-movement
  .product_movement_header
    = f.input :time, as: :date_with_calendar
  .movement_line
    .movement_from
      = f.input :product_storage_from, input_html: { :class => 'select2 movement_from_select' }
  .product_movement_line
    .product
      = f.input :product, input_html: { :class => 'select2 movement_product_select' }, label: :status_id, :include_blank => true
    .maintainer
      = f.input :maintainer, :selected => User.current.id, input_html: { :class => 'select2 select2_updated_product_field' }
    .count
      = f.input :count, :input_html => { :size => 10 }
      = f.input :is_depreciation, as: :hidden, input_html: { value: true}
  .movement_note
    = f.input :note, :input_html => { :class => 'autogrow', :rows => 2, :cols => 69 }