= javascript_include_tag :collapsible, plugin: :arm_common
= stylesheet_link_tag :product_movement_show, plugin: :arm_med_products
- rewrite_title(l('product_movement.label'))
- html_title(l('product_movement.label'))
= render partial: 'action_menu'

%h2
  = product_movement_heading(@movement)
%div{class: "product_movement details"}

  %p.author
    #{authoring @movement.created_at, @movement.author}.
    - if @movement.created_at != @movement.updated_at
      #{l(:label_updated_time, time_tag(@movement.updated_at)).html_safe}.
  %table.attributes
    = product_movement_fields_rows do |rows|
      - rows.left l(:field_name), h(@movement.name), :class => 'name'
      -#- rows.left l(:field_product_storage_from), h(@movement.product_storage_from), :class => 'product_storage_from'
      -#- rows.left l(:field_product_storage_to), h(@movement.product_storage_to), :class => 'product_storage_to'
      -#- rows.left l(:field_time), time, class: 'time'
      -#- rows.left l(:field_maintainer), h(@movement.maintainer), :class => 'maintainer'

  -#- unless @products.empty?
  -#  %hr
  -#  .products
  -#    %p
  -#      %strong= l(:field_products)
  -#    %div
  -#      - @products.each do |product|
  -#        %p
  -#          = product
  -#
  -#  %hr
  -#  .description
  -#    %p
  -#      %strong= l(:field_description)
  -#    .wiki
  -#      = textilizable @qa_action, :description
  -#
  -#
  -#-if @relations.present?
  -#  %hr
  -#  #relations
  -#    = render :partial => 'relations'

-if @journals.present?
  #history
  %h3=l(:label_history)
  = render :partial => 'history', :locals => { :issue => @issue, :journals => @journals }
%div{style:"clear: both;"}
- other_formats_links do |f|
  = f.link_to 'Atom', :url => {:key => User.current.rss_key}
  = f.link_to 'PDF'
- html_title(l(:label_qa_action))
- content_for :sidebar do
  = render :partial => 'sidebar'
