= stylesheet_link_tag :products, plugin: :arm_med_products
= semantic_form_for @product do |f|
  = error_messages_for 'product'
  = render 'products/form/fields', f: f
  = f.submit l('products.save'), id: 'form_submit'