%table
  %thead
    %tr
      %th &nbsp;
      %th= l('products.groups')
  %tbody
    = render @products_groups, checked_groups: params[:products_group_ids].to_a

%table
  %thead
    %tr
      %th &nbsp;
      %th= l('products.storages')
  %tbody
    = render @product_storages, checked_groups: params[:product_storage_ids].to_a
= submit_tag l(:button_apply), form: 'search-form'