-rewrite_title(l(:label_product))
-add_subtitle_on_header(l(:label_product_info_card))

- content_for :sidebar do
  = render partial: 'show_sidebar'

.contextual
  = render partial: 'action_menu'

%h2
  = "Описание товара"

= render 'info'
= render_tabs product_info_tabs
