= javascript_include_tag :select2_multi_product, plugin: :arm_common

= f.inputs do
  = f.input :product, input_html: { :class => 'select2 non-select2-search select2_updated_qa_action_field' }
  = f.input :time
  = f.input :product_storage_from, input_html: { :class => 'select2 non-select2-search select2_updated_qa_action_field' }
  = f.input :product_storage_to, input_html: { :class => 'select2 non-select2-search select2_updated_qa_action_field' }
  = f.input :maintainer, input_html: { :class => 'select2 non-select2-search select2_updated_qa_action_field' }
  = f.input :count
  = f.input :note
