

- @movement = ProductMovement.new
- @movement.product_storage_relations.build
#form_for_product_movement
  = render partial: 'products/form_scripts_and_styles'
  = semantic_form_for @movement do |f|
    = f.semantic_fields_for :product_storage_relations do |rel|
      = render 'product_movements/product_storage_relation_fields', :f => rel
    = f.submit l('product_movement.save'), id: 'product_movement_submit'
