= stylesheet_link_tag :product_storage_relation, plugin: :arm_med_products
= javascript_include_tag 'jquery-ui-timepicker-addon', plugin: :arm_common
= javascript_include_tag 'jquery-ui-timepicker-addon-ru', plugin: :arm_common
= stylesheet_link_tag 'jquery-ui-timepicker-addon', plugin: :arm_common
= stylesheet_link_tag 'product_movement', plugin: :arm_med_products

%h3.title
  = l('product_movement.new')

= render partial: 'products/form_scripts_and_styles'

#form_for_product_movement
  = semantic_form_for @movement do |f|
    = f.semantic_fields_for :product_storage_relations do |rel|
      = render 'product_storage_relation_fields', :f => rel
    = f.actions

