.nested-fields.one-product-movement
  .product_movement_header
    = f.input :time, as: :date_with_calendar
  .movement_line
    .movement_from
      = f.input :product_storage_from, input_html: { :class => 'select2 non-select2-search select2_updated_product_field' }
    .movement_to
      = f.input :product_storage_to, input_html: { :class => 'select2 non-select2-search select2_updated_product_field' }
  .product_movement_line
    .product
      = f.input :product, input_html: { :class => 'select2 non-select2-search select2_updated_product_field' }, label: :status_id, :include_blank => false
    .maintainer
      = f.input :maintainer, input_html: { :class => 'select2 select2_updated_product_field', value: User.current }
    .count
      = f.input :count, :input_html => { :size => 10 }
  .movement_note
    = f.input :note, :input_html => { :class => 'autogrow', :rows => 2, :cols => 69 }
  = link_to_remove_association l('product_storage_relation.link_to_remove'), f

:javascript

  $(".product_movement_header").find("input").datetimepicker({
      dateFormat: 'dd.mm.yy',
      altTimeFormat: 'HH:mm',
      firstDay: 1, showTime: false,
      hourText: "tunti",
      minuteText: "min",
      altField: "#altField",
      altFieldTimeOnly: false,
      showButtonPanel: false,
      hour: #{Time.now.hour},
      minute: #{Time.now.min}, // default time
      defaultDate: 0,
  });