= stylesheet_link_tag :product_storage, plugin: :arm_med_products

%h2= l(:label_product_storage)

= render :partial => 'products/form_scripts_and_styles'

.box
  = render partial: 'form'
- html_title "#{l(:label_product_storage)} #{@product_storage.to_s}"

- content_for :sidebar do
  -#= render :partial => 'common/sidebar' %>
  -#= render :partial => 'common/recently_viewed' %>

- content_for :header_tags do
  -#= javascript_include_tag :contacts, :plugin => 'redmine_contacts'
  -#= stylesheet_link_tag :contacts, :plugin => 'redmine_contacts'
  -#= stylesheet_link_tag :contacts_sidebar, :plugin => 'redmine_contacts'
