= link_to l('product_storages_group.plural_label'), '/settings/plugin/arm_med_products?tab=product_storages'

= labelled_form_for :enumeration, @product_storages_group, :url => product_storages_groups_path do |f|
  = f.hidden_field :type
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_create)

