= link_to l('products_groups.plural_label'), '/settings/plugin/arm_med_products?tab=products'

= labelled_form_for :enumeration, @products_group, :url => products_groups_path do |f|
  = f.hidden_field :type
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_create)

